
img{
  border-radius: 10px;
}

.past_post{
  margin: auto;
}

.one_post{
  float: left;
  margin-left: 10%;
  width: 40vw;
}

.past_post img{
  width: 100%;
  height: 100%;
}

.past_post:after{
  content: " ";
  display: table;
  clear: both;
}
