{% extends "template_page.html" %}
{% block title %}English diary{% endblock %}
{% block head %}
{{super()}}

{% endblock %}

{% block header %}
<h1>SIGN UP</h1>
{% endblock %}

{% block contents %}
<form method="POST" action="/register" enctype="multipart/form-data">
  <label for="username">username</label>
  <input id="username" name=username>
  <label for="password">password</label>
  <input id="password" name=password type=password>
  <input type="submit" value="登録">
</form>
{% endblock %}

{% block footer %}
<p><a href="/">TOPへ戻る</a></p>
{% endblock %}
