{% extends "template_page.html" %}
{% block title %}Sign In{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="../static/identify.css">
{% endblock %}

{% block contents %}

  <section class=register>
    <form method="POST" action="/login",enctype="multipart/form-data">
      <label for="username">User Name</label>
      <input id="username" placeholder="名前" name="username" type="text" required/>
      <label for="password">Password</label>
      <input id="password" placeholder="パスワード" name="password" type="password" required/>
      <input value="送信" type="submit"/>
    </form>
  </section>

{% endblock %}

{% block footer %}
  <a href="#" onclick="history.back(); return false;">Back</a>
{% endblock %}
